<!--
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
 -->

<div class="footer ">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <h2>İnformasiya</h2>
          <ul>
            <li><a href="#"> Konfidensiallıq siyasəti </a></li>
            <li><a href="#">Hissə-hissə ödəniş şərtləri</a></li>
          </ul>
        </div>
      </div>
      <!-- Musteriler -->
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <h2>Müştərilər</h2>
          <ul>
            <li><a href="#"> Saytın istifadə şərtləri </a></li>
            <li><a href="#"> Konfidensiallıq siyasəti </a></li>
            <li><a href="#"> Geri qaytarma siyasəti </a></li>
            <li><a href="#"> Korporativ satışlar </a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-6">
        <div class="footer-widget">
          <h2>Şirkət</h2>
          <ul>
            <li><a href="#"> Şirkət haqqında </a></li>
            <li><a href="#"> Karyera </a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1 col-md-6">
        <div class="footer-widget">
          <h2>Əlaqə</h2>
          <div class="contact-info">
            <ul>
              <li class="row mb-3">
                <a routerLink="/contact" class="col-md-6 mb-3">
                  <i class="fas fa-mobile-alt"></i> <span>*6060</span>
                </a>

                <a routerLink="/contact" class="col-md-6">
                  <i class="fa fa-map-marker"></i
                  ><span>Mağazalarımız xəritədə</span>
                </a>
              </li>
              <li>
               <i class="fa fa-phone" style="margin-right: 15px;"></i>
               <a type="button" (click)="addContact()"> Mənə zəng et  </a>
              </li>
            </ul>
          </div>

          <div class="footer-widget">
            <h2>Bizimlə qalın</h2>
            <div class="contact-info">
              <ul
              class="social">
                <li>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
              <img src="assets/footerImg/VISA.jpg"
               style="width: 70px; margin-right: 10px; " />
              <img src="assets/footerImg/Mastercard.jpeg" style="width: 83px;" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
